<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset-UTF=8" />
<meta name="viewport" content="width=device-width" />
<title>Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="login-form">
			<div class="main-div">
				<div class="panel">
					<h2>Alterar Curso</h2>
				</div>
				<form class="form-horizontal" th:object="${curso}"
					th:action="@{/alterarCurso}" method="RequestMethod.POST">
					<fieldset>

						<legend></legend>

						<div class="form-group row">
							<label class="col-md-4 control-label">ID</label>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" id="id"
									th:field="*{id}" readonly="readonly">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Nome</label>
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="text"
									placeholder="Inserir o nome" class="form-control input-md"
									th:field="*{nome}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Preço</label>
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="text"
									placeholder="Inserir o preço" class="form-control input-md"
									th:field="*{preco}" />

							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="textarea">Descrição</label>
							<div class="col-md-4">
								<textarea class="form-control" id="textarea" name="textarea"
									th:field="*{descricao}"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="button1id"></label>
							<div class="col-md-8">
								<button id="button1id" name="button1id" class="btn btn-danger">Alterar</button>
								<button class="btn btn-sm btn-primary" th:href="@{/listarCursos}">Voltar</button>
							</div>
						</div>

					</fieldset>
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>